.each-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .each-item {
    width: 45%;
    height: 70px;
  }
}
.ap-title {
  font-weight: 700;
  font-size: medium;
  margin-bottom: 5px;
}
.ap-date {
  font-weight: 550;
  font-size: medium;
  margin-bottom: 5px;
}
.star-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
